<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header>
        <div><a href="/"><img src="/images/logo.png" alt=""></a></div>
        <nav>
            <ul class="menu">
                <li><a href="">smarphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul class="usuario">
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="productos">
            <article>
                <img src="/images/img-phone-01.jpg" alt="telefono móvil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem sapiente quaerat corrupti deleniti earum? Exercitationem necessitatibus quidem nemo laborum deserunt.</p>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/img-phone-02.jpg" alt="telefono móvil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem sapiente quaerat corrupti deleniti earum? Exercitationem necessitatibus quidem nemo laborum deserunt.</p>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/img-phone-03.jpg" alt="telefono móvil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem sapiente quaerat corrupti deleniti earum? Exercitationem necessitatibus quidem nemo laborum deserunt.</p>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/img-phone-01.jpg" alt="telefono móvil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem sapiente quaerat corrupti deleniti earum? Exercitationem necessitatibus quidem nemo laborum deserunt.</p>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/img-phone-02.jpg" alt="telefono móvil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem sapiente quaerat corrupti deleniti earum? Exercitationem necessitatibus quidem nemo laborum deserunt.</p>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/img-phone-03.jpg" alt="telefono móvil">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem sapiente quaerat corrupti deleniti earum? Exercitationem necessitatibus quidem nemo laborum deserunt.</p>
                <a href="">ver más</a>
            </article>
        </section>
        <aside>
            <section class="tutoriales">
                <h3>Tutoriales</h3>
                <article>
                    <img src="/images/aside-01.jpg" alt="imagen tutorial">
                    <p>Título del tutorial de reparación</p>
                </article>
                <article>
                    <img src="/images/aside-02.jpg" alt="imagen tutorial">
                    <p>Título del tutorial de reparación</p>
                </article>
                <article>
                    <img src="/images/aside-03.jpg" alt="imagen tutorial">
                    <p>Título del tutorial de reparación</p>
                </article>
                <article>
                    <img src="/images/aside-04.jpg" alt="imagen tutorial">
                    <p>Título del tutorial de reparación</p>
                </article>
            </section>
            <section class="box-publicidad">
                <h3>Publicidad</h3>
                <article class="publicidad">
                    <img src="/images/ad-01.jpg" alt="imagen publicitaria">
                    <img src="/images/ad-02.jpg" alt="imagen publicitaria">
                </article>
            </section>
        </aside>
    </main>
</body>
</html>